<div class="title-container">
  <h1>{{ detalle ? 'Detalle de la Ruta Segura' : 'Registro de Rutas Seguras' }}</h1>
</div>
<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="aceptar()">

    <!-- Código (solo en edición) -->
    <mat-form-field *ngIf="edicion || detalle">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" readonly/>
    </mat-form-field>
    <br />

    <!-- Punto de Origen -->
    <mat-form-field>
      <mat-label>Punto de Origen</mat-label>
      <input matInput formControlName="punto_origen" [readonly]="detalle"/>
      <mat-error *ngIf="form.get('punto_origen')?.hasError('required')">
        El punto de origen es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Punto de Destino -->
    <mat-form-field>
      <mat-label>Punto de Destino</mat-label>
      <input matInput formControlName="punto_destino" [readonly]="detalle"/>
      <mat-error *ngIf="form.get('punto_destino')?.hasError('required')">
        El punto de destino es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Distancia -->
    <mat-form-field>
      <mat-label>Distancia</mat-label>
      <input matInput formControlName="distancia" type="number" [readonly]="detalle"/>
      <mat-error *ngIf="form.get('distancia')?.hasError('required')">
        La distancia es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Descripción -->
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion" [readonly]="detalle"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
        La descripción es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Botones Aceptar y Volver -->
    <div class="button-container">
      <button mat-raised-button color="primary" *ngIf="!detalle">Aceptar</button>
      <button mat-raised-button color="accent" (click)="volver()">Volver</button>
    </div>
  </form>
</div>
