<!-- Barra de herramientas -->
<mat-toolbar color="primary" *ngIf="verificar() && (role !== '' || cerrar())">
  <!-- Menú desplegable de todos los ítems -->
  <button mat-button [matMenuTriggerFor]="menuItems">
    <mat-icon>menu</mat-icon>Menú
  </button>  

  <!-- Definición del menú desplegable de todos los ítems -->
  <mat-menu #menuItems="matMenu">
    <!-- Menús individuales -->
    <button mat-menu-item *ngIf="isAdmin()" [matMenuTriggerFor]="menuUsuario">
      <mat-icon>person</mat-icon>Usuario
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuRutasSeguras">
      <mat-icon>security</mat-icon>Rutas Seguras
    </button>
    <button mat-menu-item *ngIf="isAdmin()" [matMenuTriggerFor]="menuTiposEvento">
      <mat-icon>alarm</mat-icon>Tipos de Eventos
    </button>
    <button mat-menu-item *ngIf="isAdmin()" [matMenuTriggerFor]="menuTiposNotificacion">
      <mat-icon>notifications</mat-icon>Tipos de Notificaciones
    </button>
    <button mat-menu-item *ngIf="isAdmin()" [matMenuTriggerFor]="menuTiposdeUsuario">
      <mat-icon>fingerprint</mat-icon>Tipos de Usuario
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuEventos">
      <mat-icon>event</mat-icon>Eventos
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuNotificaciones">
      <mat-icon>notifications</mat-icon>Notificaciones
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuHistorial">
      <mat-icon>history</mat-icon>Historial de Navegación
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuCValoracionRutas">
      <mat-icon>feedback</mat-icon>Comentarios/Valoraciones Rutas
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuReportes">
      <mat-icon>insert_drive_file</mat-icon>Reportes
    </button>
    <button mat-menu-item [matMenuTriggerFor]="menuSalir">
      <mat-icon>logout</mat-icon>Sesión
    </button>
  </mat-menu>

  <!-- Menú de Usuarios -->
  <mat-menu #menuUsuario="matMenu">
    <button mat-menu-item routerLink="/usuarios/nuevo">
      <mat-icon>person_add</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/usuarios">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Rutas Seguras -->
  <mat-menu #menuRutasSeguras="matMenu">
    <button mat-menu-item routerLink="/rutasseguras/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/rutasseguras">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Tipos de Eventos -->
  <mat-menu #menuTiposEvento="matMenu">
    <button mat-menu-item routerLink="/tiposdeevento/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/tiposdeevento">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Tipos de Notificaciones -->
  <mat-menu #menuTiposNotificacion="matMenu">
    <button mat-menu-item routerLink="/tiposdenotificacion/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/tiposdenotificacion">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Tipos de Usuario -->
  <mat-menu #menuTiposdeUsuario="matMenu">
    <button mat-menu-item routerLink="/tiposdeusuario/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/tiposdeusuario">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Eventos -->
  <mat-menu #menuEventos="matMenu">
    <button mat-menu-item routerLink="/eventos/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/eventos">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Notificaciones -->
  <mat-menu #menuNotificaciones="matMenu">
    <button mat-menu-item routerLink="/notificaciones/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/notificaciones">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Historial de Navegación -->
  <mat-menu #menuHistorial="matMenu">
    <button mat-menu-item routerLink="/historialnavegacion/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/historialnavegacion">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Comentarios y Valoraciones de Rutas -->
  <mat-menu #menuCValoracionRutas="matMenu">
    <button mat-menu-item routerLink="/comentariosvaloracionesrutas/nuevo">
      <mat-icon>add_circle</mat-icon>Registrar
    </button>
    <button mat-menu-item routerLink="/comentariosvaloracionesrutas">
      <mat-icon>list</mat-icon>Listar
    </button>
  </mat-menu>

  <!-- Menú de Reportes -->
  <mat-menu #menuReportes="matMenu">
    <button mat-menu-item routerLink="/reportes">Eventos por venir</button>
    <button mat-menu-item routerLink="/reportes/reporte02">Notificaciones sin leer</button>
    <button mat-menu-item routerLink="/reportes/reporte03">Cantidad de usuarios por Género</button>
    <button mat-menu-item routerLink="/reportes/reporte04">Valoración por Rutas</button>
    <button mat-menu-item routerLink="/reportes/reporte05">Eventos pasados por Tipo</button>
    <button mat-menu-item routerLink="/reportes/reporte06">Tiempo promedio por Rutas</button>
    <button mat-menu-item routerLink="/reportes/reporte07">Cantidad de rutas por periodo</button>
    <button mat-menu-item routerLink="/reportes/reporte08">Cantidad de notificaciones por tipo</button>
    <button mat-menu-item routerLink="/reportes/reporte09">Rutas más viajadas</button>
    <button mat-menu-item routerLink="/reportes/reporte10">Rutas menor distancia ingresada</button>
  </mat-menu>

  <!-- Menú de Cerrar Sesión -->
  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
  </mat-menu>

  <!-- Botón Home -->
  <button mat-button routerLink="/homes">
    <mat-icon>home</mat-icon>Home
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
